html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

main,
header {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

form,
.home_wrapper__company-data {
	text-align: left;
}

input, select {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type='checkbox'] {
	display: inline-block;
	width: 10%;
}

.__btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.__btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.__btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.__btn-success:active {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.__small-form {
	width: 600px;
	margin: 0 auto;
}

.__small-form label {
	margin-bottom: 1.3em;
}

.home_wrapper__list-vac {
	width: 100%;
	border-spacing: 0;
	border: 1px solid #e7e7e7;
	border-collapse: collapse;
}

.home_wrapper__list-vac thead {
	background-color: #f5f5f5;
}

.home_wrapper__list-vac th,
.home_wrapper__list-vac td {
	padding: 0.3em 0.4em;
	border-bottom: 1px solid #e7e7e7;
}

.page-content__stage-table tr:nth-child(even) {
	background-color: #f5f5f5;
}

.__k-class {
	display: inline-block;
	width: 5%;
	margin-right: 1em;
	vertical-align: top;
}
