@font-face {
	font-family: 'Times New Roman';
	src: url('./fonts/times_new_roman.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/times_new_roman.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/times_new_roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/times_new_roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/times_new_roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/times_new_roman.svg#times_new_roman') format('svg'); /* Chrome < 4, Legacy iOS */
}
